In [3]:
import cx_Oracle as cxO
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from credentials import login, pwd

In [4]:
#cxO.init_oracle_client(lib_dir= r"/usr/lib/oracle/21/c")
con = cxO.connect(login+'/'+pwd+'@213.184.8.44:1521/orac')
cur = con.cursor()

NameError: name 'login' is not defined

In [10]:
cur.execute("SELECT * FROM COUNTRIES")
for wiersz in cur.fetchall():
    pass

<h1>Database structure preparation</h1>

In [55]:
#owid/data source: https://github.com/owid/covid-19-data/tree/master/public/data/
#ecdc/data source: https://data.europa.eu/euodp/en/data/dataset/covid-19-coronavirus-data-daily-up-to-14-december-2020
df = pd.read_csv('ecdc/data.csv')

In [56]:
df.columns

Index(['dateRep', 'year_week', 'cases_weekly', 'deaths_weekly',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp',
       'notification_rate_per_100000_population_14-days'],
      dtype='object')

In [34]:
cur.execute("CREATE TABLE COVID(dateRep date, \
year_week varchar2(200), cases_weekly number, \
deaths_weekly number, name varchar2(600), \
geoId varchar2(50), code varchar2(50), population number, \
continent varchar2(200), rate number)")

In [ ]:
conn = sqlalchemy.create_engine('oracle+cx_oracle://morawski:Cezary@213.184.8.44:1521/orac')
dt = {'year_week':sqlalchemy.types.NVARCHAR(20), 'name': sqlalchemy.types.NVARCHAR(60),
      'code':sqlalchemy.types.NVARCHAR(20), 'code':sqlalchemy.types.NVARCHAR(20), 
      'continent':sqlalchemy.types.NVARCHAR(60)}
df = df.rename(columns={'dateRep':'date', 'countriesAndTerritories':'name', 'countryterritoryCode':'code',
                       'popData2019':'population','continentExp':'continent',
                       'notification_rate_per_100000_population_14-days':'rate'})
df.to_sql('covid', conn, if_exists='replace', dtype = dt)

In [38]:
for i,row in df.iterrows():
            sql = "INSERT INTO COVID(dateRep, year_week, \
            cases_weekly, deaths_weekly, name, geoId, code\
            , population, continent, rate) \
            VALUES(TO_DATE(:1, 'dd/mm/yyyy'),:2,:3,:4,:5,:6,:7,:8,:9,:10)"
            cur.execute(sql, tuple(row))

DatabaseError: DPI-1043: invalid number

In [45]:
cur.close()
con.close()